.containerModal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.closeModal {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  background-color: #f77f00;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}
.closeModal:hover {
  background-color: #c97316;
}
.containerResultado {
  background: white;
  width: 300px;
  height: 200px;
  position: relative;
  padding: 10px;
}
.containerTexto {
  max-width: 270px;
}
