fieldset {
  max-width: 600px;
  margin: 0 auto;
  border: none;
  background-color: #003049;
  min-height: 300px;
  padding: 10px;
}
h1 {
  font-size: 30px;
  text-align: center;
}
.container-inputs {
  display: flex;
  row-gap: 20px;
  column-gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container-input {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.container-input > label {
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
}
input {
  border-radius: 5px;
  height: 30px;
}
.calcular,
.adicionar {
  margin-top: 20px;
  width: 50%;
  padding: 8px;
  background-color: #f77f00;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.adicionar {
  background-color: transparent;
  border: 1px solid #f77f00;
  color: #f77f00;
}
.adicionar:hover {
  background-color: #f77f00;
  color: white;
}
.calcular:hover {
  background-color: #c66c0b;
}
button:disabled {
  background-color: #f5bf85;
  cursor: unset;
}
button.adicionar:disabled {
  background-color: transparent;
  cursor: unset;
  color: grey;
  border-color: gray;
}
.container-botoes {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}
@media (max-width: 600px) {
  .container-inputs {
    flex-direction: column;
  }
  .container-input {
    max-width: unset;
    display: flex;
    flex-direction: column;
  }
}
