* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #d62828;
  color: #f77f00;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.errorMessage {
  color: #d62828;
  font-weight: bold;

  margin-bottom: 0;
}
