.containerLarguraAltura,
.containerPortaJanela {
  display: flex;
  column-gap: 10px;

  flex-grow: 1;
}
.containerPrincipal {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.containerGroupField {
  border-bottom: 1px solid white;
  width: 100%;
  padding-bottom: 15px;
}
.containerGroupField:last-of-type {
  border: none;
}
